Repository barrantesc/The-Sheet-Show, pull requests merged in 2022-02, with the labels that each got.

#19 Initial commit with base content that needs to be udpated
  .gitignore
  RENAME.env
  __tests__/helpers.test.js
  config/connection.js
  controllers/index.js
  db/schema.sql
  models/Sheet.js
  models/User.js
  models/index.js
  server.js
  utils/auth.js
  utils/helpers.js
  views/homepage.handlebars
  views/layouts/main.handlebars
  views/login.handlebars
  views/partials/comments.handlebars
  views/partials/post-info.handlebars
  views/single-post.handlebars
Labels: good first issue

#22 Add Feature/seed database and General Cleanup
  README.md
  RENAME.env
  config/connection.js
  controllers/api/hero.js
  controllers/api/index.js
  controllers/api/user.js
  controllers/index.js
  db/schema.sql
  models/Hero.js
  models/User.js
  models/index.js
  package.json
  seeds/connection_mysql2.js
  seeds/connection_sequelize.js
  seeds/seed.js
  seeds/seed_Hero.json
  seeds/seed_User.json
Labels: Model, Controller

#21 Add Feature: ORM: Model Framework Built
  RENAME.env
  controllers/index.js
  models/Character.js
  models/Sheet.js
  models/User.js
  models/index.js
  package.json
Labels: good first issue, Model

#42 Fixed minor issues related to file name and duplicate files. Reinstated connection to database in server.js
  controllers/home-route.js
  controllers/home-routes.js
  server.js
  views/character-creator.handlebars
Labels: Controller

#44 Add home-routes for Login, user-routes try-catch on login, CSS framework, Feature/Navigation Overlay
  controllers/api/user-routes.js
  controllers/home-routes.js
  public/css/navigation.css
  public/css/style.css
  public/javascript/login.js
  public/javascript/logout.js
  public/javascript/navigation.js
  seeds/seed.js
  views/layouts/main.handlebars
  views/navtest.handlebars
Labels: Model, View, Controller

#50 Add Feature/Hero-Images - proof of concept
  controllers/home-routes.js
  public/javascript/hero-images.js
  views/hero-images.handlebars
Labels: View

#53 character creator initial functionality
  public/javascript/character-creator.js
  views/character-creator.handlebars
Labels: Controller

#60 Marymarg
  README.md
  package.json
  public/css/navigation.css
  public/javascript/character-creator.js
  public/javascript/character-sheet.js
  public/javascript/login.js
Labels: Controller

#62 Add Session Secret as env Variable on Heroku and Locally
  RENAME.env
  server.js
Labels: Controller

#61 Add More Options to Feature/nav
  views/layouts/main.handlebars
  views/navtest.handlebars
Labels: View

#65 Add View for Feature/profile - If User Logged in, loads all created heros
  RENAME.env
  controllers/home-routes.js
  views/layouts/main.handlebars
  views/partials/profile-details.handlebars
  views/profile.handlebars
Labels: View, Controller

#67 Updated Hero model, created Abilities model
  controllers/api/ability-routes.js
  controllers/api/hero-routes.js
  controllers/api/index.js
  models/Ability.js
  models/Hero.js
  models/index.js
  public/assets/images/race_dragonborn.PNG
  public/assets/images/race_dwarf.PNG
  public/assets/images/race_elf.PNG
  public/assets/images/race_gnome.PNG
  public/assets/images/race_half-elf.PNG
  public/assets/images/race_half-orc.PNG
  public/assets/images/race_halfling.PNG
  public/assets/images/race_human.PNG
  public/assets/images/race_tiefling.PNG
  public/javascript/character-creator.js
Labels: Model, Controller

#76 Add fully functional Route /character-sheet and /character-sheet/:id
  controllers/home-routes.js
  views/1_character-sheet-concept.handlebars
  views/character-sheet-id.handlebars
  views/character-sheet.handlebars
  views/partials/character-sheet-template.handlebars
Labels: Controller

#79 Add ALL Character Cards to Homepage, Add Unique Character Cards to Profile
  controllers/home-routes.js
  public/css/style.css
  seeds/seed_Hero.json
  views/character-sheet-id.handlebars
  views/homepage.handlebars
  views/layouts/main.handlebars
  views/partials/character-details.handlebars
  views/partials/character-sheet-template.handlebars
  views/partials/profile-details.handlebars
  views/profile.handlebars
Labels: enhancement, Controller, Heroku

#82 Add logos to public/assets dir
  public/assets/logos/Logo.png
  public/assets/logos/black_text/Long_horizontal.png
  public/assets/logos/black_text/Short_horizontal.png
  public/assets/logos/black_text/Short_vertical_1.png
  public/assets/logos/black_text/Short_vertical_2.png
  public/assets/logos/white_text/Long_horizontal_white.png
  public/assets/logos/white_text/Short_horizontal_white.png
  public/assets/logos/white_text/Short_vertical_1_white.png
  public/assets/logos/white_text/Short_vertical_2_white.png
Labels: View

#91 Updated character sheet to show more of the gathered information from user input and DnD api
  public/css/character-sheet-template.css
  public/javascript/character-creator.js
  views/partials/character-sheet-template.handlebars
Labels: Controller

#100 fixed randomFromArray function in character-creator.js
  public/javascript/character-creator.js
Labels: bug

#115 Adding Feature to create a blank character sheet
  views/character-sheet.handlebars
  views/layouts/main.handlebars
Labels: View, Controller

#130 Cleanup Hero Card by removing junk text.
  views/partials/hero-card-details.handlebars
Labels: bug, View

#132 Bug/ability scores
  public/javascript/ability-scores.js
Labels: bug, Controller

#135 Feature/register
  public/css/login.css
  public/css/style.css
  views/login.handlebars
Labels: View, Controller

#136 Fixed Bug/hero-card - Removing Junk Data
  views/partials/character-details.handlebars
Labels: bug, Controller
